body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.Box{
    width: 200px;
    height: 100px;
    background-color: lightgray;
    color: #000;
    padding: 100px;
    border-radius: 5px;
    text-align: center;
    font-size: larger;
    margin: auto;
}
